body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

#canvas {
    cursor: crosshair;
    ;
    text-align: center;
    left: 50px;
}

#pr {
    left: 0px;
    top: 70px;
    color: aliceblue;
}

#rec {
    left: 0px;
    top: 100px;
    color: aliceblue;
}